apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    url: http://prometheus-server:9090
    access: proxy
    isDefault: true

  - name: Loki
    type: loki
    url: http://loki-server:3100
    access: proxy
    isDefault: false
